.container-fluid
  .row-fluid
    .span4
      %form.form#character{:action => "/", :method => "post"}
        %fieldset
          .row-fluid
            .span6
              .control-group
                %label{:for => "hero"} Hero class
                .controls
                  %select.input-medium{:name => "hero", :autofocus => "autofocus"}
                    - D3TC::Engine.heroes.each do |key, value|
                      %option{:value => "#{key}"}= value
          .row-fluid
            .span3
              .control-group
                %label{:for => "strength"} Strength
                .controls
                  %input.input-mini{:type => "text", :name => "strength", :value => "305"}
            .span3
              .control-group
                %label{:for => "dexterity"} Dexterity
                .controls
                  %input.input-mini{:type => "text", :name => "dexterity", :value => "1328"}
          .row-fluid
            .span3
              .control-group
                %label{:for => "intelligence"} Intelligence
                .controls
                  %input.input-mini{:type => "text", :name => "intelligence", :value => "341"}
            .span3
              .control-group
                %label{:for => "vitality"} Vitality
                .controls
                  %input.input-mini{:type => "text", :name => "vitality", :value => "839"}
          .row-fluid
            .span3
              .control-group
                %label{:for => "armor"} Armor
                .controls
                  %input.input-mini{:type => "text", :name => "armor", :value => "5317"}
            .span3
              .control-group
                %label{:for => "resist"} Resist
                .controls
                  %input.input-mini{:type => "text", :name => "resist", :value => "529"}
          .row-fluid
            .span6
              .control-group
                %label{:for => "lifeplus"} Life bonus %
                .controls
                  %input.input-small{:type => "text", :name => "lifeplus", :value => "5"}
              .control-group
                %label{:for => "dodge"} Dodge %
                .controls
                  %input.input-small{:type => "text", :name => "dodge", :value => "33.3"}
              .control-group
                %label{:for => "level"} Hero Level
                .controls
                  %select.input-medium{:name => "level"}
                    %option{:selected => "selected", :value => "60"}60
                    - 59.downto(50) do |n|
                      %option{:value => "#{n}"}= n
              .control-group
                %label{:for => "mlevel"} Monster Level
                .controls
                  %select.input-medium{:name => "mlevel"}
                    %option{:selected => "selected", :value => "60"}60 (Hell A4)
                    %option{:value => "61"}61 (Inferno A1)
                    %option{:value => "62"}62 (Inferno A2)
                    %option{:value => "63"}63 (Inferno A3 and A4)
              .control-group
                %a.btn.btn-primary#calc Calculate!
                %p &nbsp;
                #alert.alert.alert-info
    .span8
      #result

%script{ :type => "text/javascript", :src => "/js/main.js"}